<div class="blog-post-container">
    <a href="http://localhost:3000/{{linktopost}}" class="blog_post_link">
      <div class="blog-post" data-time=" {{timestamp}}">
        <div class="blog-post-title">
          <h2>{{title}}</h2>
        </div>
        <div class="blog-post-image">
          <img src="{{photoURL}}"   alt="Blog_Post_Photo">
        </div>
        <div class="blog-post-text">
          <p>{{content}}</p>
        </div>
      </div>
    </a>
  </div>